.line {
  border: 1px solid black;
  width:100%;
  height : 100px;
}
.card-body {
    height : 50px
}
.bott-buffer {
    margin-bottom : 10px;
}

// set image full contain
.img{
  box-sizing: border-box;
  width: 100%;
  border-radius : 20px;
}
.img img {
  width: 100%;
}