.line {
  border: 1px solid black;
  width:100%;
  height : 100px;
}
.card-body {
    height : 50px
}
.bott-buffer {
    margin-bottom : 10px;
}

#title {
  font-size : 20px;
}

// set image full contain
.img{
  box-sizing: border-box;
  width: 100%;
  border-radius : 20px;
}
.img img {
  width: 100%;
}
.text-indent{
  text-indent : 35px;
}

.outer-vid {
  width : 50%;
}
.video {
  float: none; 
  clear: both; 
  width: 100%; 
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 25px; 
  height: 0;
}

iframe {
  position: absolute; 
  top: 0; left: 0; 
  width: 100%; height: 100%;
}